<p style="color: green"><%= notice %></p>

<h1>Emloyees</h1>

<div id="emloyees">
  <% @emloyees.each do |emloyee| %>
    <%= render emloyee %>
    <p>
      <%= link_to "Show this emloyee", emloyee %>
    </p>
  <% end %>
</div>

<%= link_to "New emloyee", new_emloyee_path %>
